<h1>{{nombre}}</h1>

<dl>
    <td>nombre : </td>
    <dd>{{nombre}}</dd>

    <td>edad : </td>
    <dd>{{edad}}</dd>

    <td>Método </td>
    <dd>{{mostrarNombre()}}</dd>

    <!-- Es un get, no va con paréntesis-->
    <td>Capitalizar </td>
    <dd>{{nombreCapitalizado}}</dd>

</dl>

<!--Más fácil sería if nombre == superman, mostrar el boton-->
<button *ngIf=" nombre !== 'Yoda' "
(click)="cambiarHeroe()">
Cambiar héroe</button>

<button *ngIf="edad !== -500"
(click)="cambiarEdad()">
Cambiar edad</button>

<button (click)="restablecer()">Restablecer</button>